<head>
    <body>
        <h2>COSINE SIMILARITY</h2>

        <form method="POST" action='/output'>
        <label for="data1">ENTER A DATA</label><br>
        <input type="text" id="data1" name="data1" placeholder="ENTER A DATA" required='required'><br>
        <label for="data2">ENTER A TEXT</label><br>
        <input type="text" id="data2" name="data2" placeholder="ENTER A TEXT" required='required'><br>
       

        <button submit>SUBMIT</button><br>
        
        </form>
            {{predict}}

    </body>
</head>